/* Purple color: #7606f9
    RGB: rgb(118, 6, 249) */
/* backgound-color for the nav menu active when mobile screen:
    rgba(95, 82, 110, 0.7)*/

/* Page */
* {
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  font-family: sans-serif;
}

/* body */
body {
  position: relative;
  height: 5000px;
  font-size: 100%;
  margin: 0px;
}

/* background */
.bg-image {
  /* The image used */
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), 
    url("/images/background1.png");

  /* blur effect */
  filter: blur(8px);
  -webkit-filter: blur(8px);

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: auto;
  right: 50%;
}

h1 {
  font-size: 2.5em;
  color: black;
  text-shadow: 2px 1px #7606f9;
}

h2 {
  font-size: 1.5em;
}

p {
  font-size: 1em;
}


/* ----------------- Home Page ---------------------*/
section.home {
  border: none;
  width: 100%;
  height: 1000px;
  color: white;
  font-weight: bold;
  position: absolute;
  top: 0%;
  z-index: 1;
  text-align: center;
  display: block;
}

section.home h1 {
  padding-bottom: 10px;
}

section.home h2 {
  padding-bottom: 80px;
}

.home-cont {
  margin: auto;
  display: block;
  max-width: 100%;
  padding: 35px 0;
}

/* Images */
.outer-edge {
  position: static;
  margin: auto;
  height: 350px;
  width: 350px;
  border-radius: 50%;
  margin-top: 200px;
}


/* Profile pic image */
.logo {
  background-image: url(/images/LogoMain.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  height: 300px;
  width: 300px;
  margin: auto;
  padding: 25px;
  border-radius: 50%;
}

/* Home Page Text */
.home-txt {
  text-align: center;
  max-width: 400px;
  padding: 15px;
  margin: auto;
}

/* contact button under the home page */
.contact-Btn {
  position: relative;
  margin: auto;
  margin-top: 80px;
  background-color: black;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  font-weight: normal;
  border-radius: 50%;
  transition: transform 0.2s;
  box-shadow: rgba(118, 6, 249, 0.25) 0 8px 15px;
}

.contact-Btn:hover {
  background-color: rgba(118, 6, 249, 1);
  color: white;
  transform: scale(1.2,1.2);
    -webkit-transform: scale(1.2,1.2);
    -moz-transform: scale(1.2,1.2);
  box-shadow: rgba(118, 6, 249, 0.25) 0 8px 15px;
}

.contact-Btn:active {
  transform: scale(.85);
  background-color: rgba(118, 6, 249, 1);
  box-shadow: rgba(118, 6, 249, 0.25) 0 8px 15px;
}

/* -------------- header ------------ */
header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: black;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.08), 
  0 2px 4px 0 rgba(0, 0, 0, 0.12);
  z-index: 99;
}

/* list in the header */
li {
  list-style: none;
}

/* items in the list in the header */
a {
  color: white;
  text-decoration: none;
  transition: 0.2s ease-in-out;
}

a:hover {
  color: #7606f9;
}

/* Containers */
.container {
  width: 100%;
  margin: auto;
} 

/* Subcontainers */
.subcontainer {
  width: 85%;
  margin: auto;
}

/* Website name */
.nav-branding {
  font-size: 2rem;
}


/* navigation links on the bar at the top of the page */
.navbar {
  width: 100%;
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* the menu when the hamburger button is clicked */
.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
}

/* hamburger */
.hamburger {
  display: none;
  cursor: pointer;
}

/* the lines inside the hamburger button*/
.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px 0;
  transition: all 0.7s ease;
  background-color: white;
}

.hamburger:hover .bar {
  background-color: #7606f9;
  transition: all 0.3s;
}

/* ----------------- ABOUT Page ---------------------*/
section.about h1 {
  text-shadow: 5px 3px rgba(0, 0, 0, .2);
  color: black;
  font-size: 7 0px;
  padding: 20px
}

.ab-pic {
  background-image: url(/images/aboutPic.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 500px;
  height: 500px;
  position: absolute;
  margin: auto;
  padding-left: 40%;
}

.about {
  padding: 35px 0;
  margin: 0;
  border: none;
  width: 100%;
  height: 1000px;
  background-color: white;
  font-weight: normal;
  position: absolute;
  top: 1100px;
  z-index: 1;
  text-align: center;
  display: block;
}

.ab-cont {
  text-align: center;
  margin-top: 200px;
}

.ab-subcont {
  text-align: center;
  left: 25%;
  position: relative;
  margin: auto;
  color: black;
  width: 500px;
  height: auto;
  font-size: larger;
}

/* resume button */
.resume-btn {
  position: relative;
  margin: auto;
  margin-top: 50px;
  width: 100px;
  padding: 15px 30px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 10px;
  display: block;
  border: 0px;
  font-weight: 500;
  font-family: sans-serif;
  font-size: 17px;
  box-shadow: 0px 0px 14px -7px gray;
  background-image: linear-gradient(45deg, black 0%, #7606f9  51%, black  100%);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.resume-btn:hover {
  background-position: right center;
  /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.resume-btn:active {
  transform: scale(0.95);
}

/* ----------------- Skills Page ----------------------*/
/* layout */
section.skill {
  margin-top: 0;
  border: none;
  width: 100%;
  height: 1000px;
  padding: 35px 0;
  background-color: none;
  font-weight: bold;
  position: absolute;
  top: 2200px;
  z-index: 1;
  display: block;
}

/* skill title*/
.skill-title {
  background-color: white;
  background-position: center;
  width: auto;
  max-width: 700px;
  border: 5px solid black;
  text-align: center;
  margin: auto;
  margin-top: 50px;
}

section.skill .skill-title h1 {
  color: black;
  text-shadow: none;
  margin: 10px 0;
  padding: 0px;
  width: 100%;
}

section.skill p {
  margin: 10px;
  font-size: larger;
}

section.skill h1 {
  color: white;
  padding: 15px;
  width: 450px;
  text-align: center;
  margin: auto;
}

section.item .lang {
  align-items: center;
  float: right;
  text-align: center;
}


/* language and IDE list*/
section.skill li {
  margin: auto;
  padding: 15px;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  display: inline-block;
}

/* languages button */
.lang {
  background-color: #000000;
  border: 2px solid #1A1A1A;
  border-radius: 15px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-size: 25px;
  font-weight: 600;
  justify-content: space-between;
  line-height: normal;
  margin: 0;
  min-height: 60px;
  min-width: 0;
  padding: 16px 24px;
  text-align: left;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  touch-action: manipulation;
  width: 400px;
  box-shadow: rgba(118, 6, 249, 0.25) 0 8px 15px;
}

.lang:disabled {
  pointer-events: none;
}

.lang:hover {
  box-shadow: rgba(118, 6, 249, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

section.skill .item {
  align-items: center;
}

.lang {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

/* language list */
.skill-li {
  margin: auto;
  align-items: center;
  text-align: center;
  max-width: 1600px;
  margin-top: 50px;
}

.list {
  margin: auto;
  align-items: center;
  text-align: center;
}



/* ----------------- PROJECTS Page --------------------*/
section.projects h1 {
  color: black;
  padding-top: 50px;
  padding-bottom: 30px;
  text-shadow: none;
  margin: auto;
  text-align: center;
  margin-right: 35%;
}

section.projects h2 {
  font-size: 35px;
  padding-bottom: 20px;
}

section.projects p {
  width: 500px;
  font-weight: bolder;
}

.projects {
  margin: 0;
  border: none;
  width: 100%;
  height: 1200px;
  padding: 35px 0;
  background-color: white;
  position: absolute;
  top: 3300px;
  z-index: 1;
  display: block;
}

.proj-title {
  font-size: 70px;
  background-color: none;
  text-shadow: none;
}

.proj-img-left {
  margin-left: 0px;
  justify-content: left;
  display: block;
  position: relative;
  left: -350px;
}

.proj-img {
  box-shadow:rgba(0, 0, 0, .5) 0px 0px 20px;
  margin: auto;
}

.cloud-img {
  margin: auto;
}

.proj-cont {
  text-align: left;
  width: 100%;
  margin-left: 60px;
}

.proj-item {
  margin-top: 30px;
  justify-content: center;
  display: flex;
}

.proj-text {
  margin-left: 20%;
  text-align: left;
  position: absolute;
}
/* ----------------- CONTACT Page ---------------------*/
section.contact h1{
 color: #7606f9;
 font-size: 90px;
 margin: auto;
 padding: 10px;
 align-self: center;
 position: relative;
 text-align: center;
 background-color: none;
 text-shadow: none;
}

section.contact p {
  font-size: 20px;
}
.contact {
  top: 4500px;
}

.cont-cont {
  background-color: #262626;
  width: 100%;
  height: 1000px;
  padding: 70px 0 0;
  position: absolute;
  top: 4500px;
  display: block;
  color: white;
  align-items: center;
}

.cont-text {
  margin: auto;
  width: 500px;
  padding: 30px;
  text-align: center;
}

.form-box {
  margin: auto;
  display: block;
  align-items: center;
  width: 500px;
}


input[type=text], textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border-color: #7606f9;
  border-style: inset;
  border-width: 3px;
  font-family: monospace;
  font-size: 15px;
  background-color: #262626;
  color: white;
  resize: none;
}

input[type=text]:focus, textarea:focus {
  border-color: #ab94c5;
  outline: none;
  background-color: rgba(118, 6, 249, 0.2);
  transition: all 0.7s ease;
}


.submit {
  position: relative;
  margin: auto;
  margin-top: 20px;
  padding: 15px 30px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 10px;
  display: block;
  border: 0px;
  font-weight: 700;
  box-shadow: 0px 0px 14px -7px gray;
  background-image: linear-gradient(45deg, black 0%, #7606f9  51%, black  100%);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.submit:hover {
  background-position: right center;
  /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.submit:active {
  transform: scale(0.95);
}

/*------------------ Footer -------------------------- */
.footer {
position: absolute;
bottom: -50px;
width: 100%;
}

.copyright {
  width: 100%;
  height: 50px;
  background-color: #7606f9;
  color: white;
  text-align: center;
  margin: auto;
  padding-top: 25px;
}

/* ----------------- RESPONSIVE ---------------------- */
@media only screen and (max-width: 1600px) {
  .container {
    width: 100%;
  }
}

@media only screen and (max-width: 1314px) {
  .hamburger {
    display: block;
  }

  .hamburger.active .bar:nth-child(2){
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1){
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-menu {
    position: fixed;
    left: -100%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    background-color: rgba(95, 82, 110, 0.7);
    width: 100%;
    height: 400px;
    text-align: center;
    transition: 0.7s;
  }

  .nav-item {
    margin: 16px 0;
    opacity: 100%;
    padding: 10px;
  }

  .nav-item a:hover {
    color: black;
    font-size: larger;
  }

  .nav-menu.active {
    left: 0;
  }

  /*---- Home Page ----- */
  .home-cont {
    margin-top: 0;
  }

  .outer-edge {
    margin-top: 150px;
  }


  /*---- about page ---- */
  .ab-subcont {
    margin: auto;
    left: 0;
    top: -100px;
  }

  .ab-pic {
    position: relative;
    top: -150px;
    padding: 0;
  }

  .about {
    top: 1100px;
    height: 1200px;
  }

  /*---- Skill page --*/
  section.skill {
    top: 2400px;
  }

  /*---- Projects Page --*/
  .projects {
    top: 3700px;
  }

  /*---- contact page --*/
  body {
    height: 5000px;
  }

  .cont-cont {
    padding: 70px 0 0;
    top: 4950px;;
  }
}

@media only screen and (max-width: 900px){
  /*---- Skill page ---- */
  section.skill li {
    display: block;
  }

  .item {
    width: 400px;
  }

  /*---- Projects Page --*/
  .projects {
    top: 4100px;
    height: 1300px;
  }

  section.projects h1 {
    text-align: center;
    margin: auto;
    position: relative;
  }

  .proj-cont{ 
    margin: auto;
  }

  .proj-img-left {
    display: none;
  }
  
  .proj-text {
    text-align: center;
    margin: auto;
    font-size: 20px;
    position: relative;
  }

  /*---- contact page --*/
  .cont-cont {
    top: 5400px;
  }
 
}

@media only screen and (max-width: 768px) {
  body {
    height: 5300px;
  }

  /*---- Home page ---*/
  .outer-edge {
    margin-top: 200px;
  }


  /*---- About page --*/
  .about {
    height: 1145px;
    top: 950px;
  }

  /*---- Skill page --*/
  section.skill {
    top: 2150px;
  }

  /*---- Projects Page--*/
  .projects {
    top: 4035px;
    height: 1265px;
  }

  section.projects p {
    font-weight: normal;
  }

  /*---- contact page --*/
  .cont-cont {
    top: 5370px;
  }
} 

@media only screen and (max-width: 425px) {
/*---- About page --*/
section.about p {
  font-weight: normal;
}

.about {
  height: 1050px;
  top: 850px;
}

.ab-pic {
  width: 300px;
  height: 300px;
}

.ab-subcont {
  width: 90%;
}
/*---- Skill page --*/
section.skill {
  top: 1950px;
}

section.skill h1 {
  width: 90%;
}

.skill-title {
  width: 90%;
  margin-top: 35px;
}

.skill-li {
  width: 100%;
}
/*---- Projects Page--*/
section.projects p {
  width: 100%;
  text-align: center;
  margin: 0;
}

.projects {
  top: 3900px;
  height: 1550px;
}

.proj-cont {
  width: 90%;
}

/*---- contact page --*/
.cont-cont {
  top: 5450px;
}

.cont-text {
  width: 90%;
  padding: 30px 0 30px;
}

.form-box {
  width: 90%;
}
}

@media only screen and (max-width: 375px) {
  /*--- Home ---*/

  /*---- about ----*/
  .about {
    top: 1000px;
    height: 1100px;
  }

  /*---- skill ----*/
  section.skill {
    top: 2200px;
  }

  .skill-title{ 
    margin-top: 50px;
  }

  .skill-li {
    margin-top: 20px;
  }

  section.skill .item {
    padding: 20px 5px ;
  }

  .lang {
    width: 90%;
  }

  /*---- Projects Page--*/
  .projects {
    top: 4250px;
    height: 1700px;
  }

  /*---- contact page --*/
  .cont-cont {
    top: 6000px;
  }
}

@media only screen and (max-width: 320px) {
  /*---- home -----*/
  .outer-edge {
    width: 300px;
    height: 300px;
    margin-top: 100px;
  }

  .logo {
    width: 300px;
    height: 300px;
    padding: 0px;
  }

  /*---- about ----*/
  .about {
    height: 1175px;
  }

  /*---- skill ----*/
  section.skill {
    top: 2250px;
  }

  section.skill .item {
    width: 100%;
    padding: 15px 0;
  }

  .lang {
    width: 300px;
    margin: auto;
  }

  /*---- Projects Page--*/
  .projects {
    top: 4200px;
    height: 1850px;
  }

  /*---- contact page --*/
  .cont-cont {
    top: 6200px;
    padding: 35px 0;
  }

  section.contact h1 {
    font-size: 75px;
  }

  section.contact p {
    font-size: 20px;
    font-weight: normal;
  }
}